[Desktop Entry]
Encoding=UTF-8
Name=Link para Pesquisa de Editais
Type=Link
URL=https://sistemas4.sc.gov.br/sea/portaldecompras/pesquisa_editais_p.asp?cdo=**CDO**
Icon=text-html
